## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [34]:
# Your code here
import random
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[43, 49, 45, 75, 11, 93, 4, 5, 16, 59, 52, 68, 84, 23, 33, 21, 47, 88, 92, 46, 54, 73, 74, 55, 70, 41, 64, 90, 72, 99, 94, 77, 19, 28, 66, 38, 85, 29, 2, 14, 98, 80, 69, 18, 31, 48, 71, 7, 40, 22, 78, 3, 95, 20, 15, 63, 60, 8, 86, 65, 26, 53, 34, 1, 9, 37, 51, 36, 39, 50, 67, 35, 6, 62, 87, 82, 10, 13, 57, 17]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [38]:
# Your code here ----
import random
sample_list_1 = random.sample(range(0, 100), 80)
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [58]:
# Your code here
import random
sample_list_2 = []

for i in range(80):
    r = random.randint(1,100)
    if r not in sample_list_2:
        sample_list_2.append(r)
print(sample_list_2)

[74, 64, 15, 83, 49, 27, 72, 1, 36, 82, 77, 93, 95, 94, 66, 26, 60, 67, 53, 96, 92, 40, 90, 22, 58, 80, 86, 68, 47, 87, 50, 75, 55, 52, 44, 9, 32, 84, 38, 81, 3, 20, 100, 51, 35, 23, 99, 10, 78, 2, 45, 34, 91, 88, 70, 39, 63]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [60]:
# Your code here
import random
sample_list_2 = []

for i in range(80):
    r = random.randint(1,100)
    if r not in sample_list_2:
        sample_list_2.append(r)

set2 = set(sample_list_2)
print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [61]:
# Your code here

sample_list = set1 - set2
set3 = sample_list
print(set3)

{0, 1, 4, 7, 10, 11, 12, 17, 25, 26, 33, 38, 41, 45, 46, 48, 53, 54, 55, 56, 61, 62, 63, 66, 67, 70, 72, 74, 83, 84, 90, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [62]:
# Your code here
sample_list = set2 - set1
set4 = sample_list
print(set4)

{97, 100, 5, 16, 81, 22, 24}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [65]:
# Your code here
sample_list = set1.intersection(set2)
set5 = sample_list
print(set5)

{3, 6, 8, 9, 13, 14, 15, 18, 19, 21, 23, 27, 28, 29, 30, 31, 34, 36, 37, 40, 42, 43, 44, 47, 49, 50, 51, 52, 57, 58, 59, 60, 64, 68, 71, 75, 77, 78, 79, 85, 88, 89, 91, 92, 93, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [68]:
# Your code here
sample = len(set1) > len(set2) > len(set3) > len(set4) > len(set5)
print(sample)

False

#### Create an empty set called `set6`.

In [69]:
# Your code here
set6 = set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [73]:
# Your code here
set6 = set3.union(set5)
print(set6)

{0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 21, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 77, 78, 79, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [77]:
# Your code here
check_1 = set1 == set6
print(sample_list)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [80]:
# Your code here
check_2 = set1.issubset(set2)
print(check_2)
check_3 = set1.issubset(set3)
print(check_3)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [83]:
# Your code here
set3 = set4.union(set5)
print(set3)
set3 = set1.union(set2)
print(set3)

{3, 5, 6, 8, 9, 13, 14, 15, 16, 18, 19, 21, 22, 23, 24, 27, 28, 29, 30, 31, 34, 36, 37, 40, 42, 43, 44, 47, 49, 50, 51, 52, 57, 58, 59, 60, 64, 68, 71, 75, 77, 78, 79, 81, 85, 88, 89, 91, 92, 93, 94, 97, 100}
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 77, 78, 79, 81, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [108]:
# Your code here
print(set1)
set1 = list(set1)
set1.pop(0)
set1 = set(set1)
print(set1)

{19, 21, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 77, 78, 79, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
{21, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 77, 78, 79, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [115]:
# Your code here
print(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove = set(list_to_remove)
set1 = set(set1)
check_4 = set1 - list_to_remove
print(check_4)

{21, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 77, 78, 79, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
{23, 25, 26, 27, 28, 30, 33, 34, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 74, 75, 77, 78, 83, 84, 85, 88, 90, 92, 93, 94, 95, 96}