# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database
df_pokemon = pd.read_csv("data/Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
df_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here
type1 = df_pokemon['Type 1'].unique()
type2 = df_pokemon['Type 2'].unique()

#array = df_pokemon.to_numpy()
list1 = list()
for x, y in zip(type1, type2):
    list1.append([x,y])
print(np.array(list1))

[['Grass' 'Poison']
 ['Fire' 'nan']
 ['Water' 'Flying']
 ['Bug' 'Dragon']
 ['Normal' 'Ground']
 ['Poison' 'Fairy']
 ['Electric' 'Grass']
 ['Ground' 'Fighting']
 ['Fairy' 'Psychic']
 ['Fighting' 'Steel']
 ['Psychic' 'Ice']
 ['Rock' 'Rock']
 ['Ghost' 'Dark']
 ['Ice' 'Water']
 ['Dragon' 'Electric']
 ['Dark' 'Fire']
 ['Steel' 'Ghost']
 ['Flying' 'Bug']]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# your code here
# test transformed data
df_pokemon['Name'].str.replace('^(.*?)Mega ', '', regex=True).head(10)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3       Venusaur
4     Charmander
5     Charmeleon
6      Charizard
7    Charizard X
8    Charizard Y
9       Squirtle
Name: Name, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here
df_pokemon['A/D Ratio'] = df_pokemon['Attack']/df_pokemon['Defense']
df_pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
# your code here
df_pokemon['A/D Ratio'].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
# your code here
df_pokemon['A/D Ratio'].min()

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [12]:
# your code here
df_pokemon.loc[df_pokemon["Type 2"].isnull(), "Combo Type" ]= df_pokemon["Type 1"]

df_pokemon.loc[df_pokemon["Type 1"].isnull(), "Combo Type"] = df_pokemon["Type 2"]
df_pokemon['Type'] = df_pokemon['Type 1']+['-'] + df_pokemon['Type 2']

Combo_Type = df_pokemon['Type'].head(10)
Combo_Type

#falta eliminar los Nan y poner el type 1

0    Grass-Poison
1    Grass-Poison
2    Grass-Poison
3    Grass-Poison
4             NaN
5             NaN
6     Fire-Flying
7     Fire-Dragon
8     Fire-Flying
9             NaN
Name: Type, dtype: object

In [48]:
df_pokemon.loc[df_pokemon["Type 2"].isnull(), "Combo Type" ]= df_pokemon["Type 1"]
#localiza en el data frame Type 2 los null y lo metes en combo type = type 1
df_pokemon.loc[(df_pokemon["Type 2"].notnull()) & (df_pokemon["Type 1"].notnull()), "Combo Type"] = df_pokemon["Type 1"] + "-" + df_pokemon["Type 2"]
#
df_pokemon['Combo Type'].head(10)

0    Grass-Poison
1    Grass-Poison
2    Grass-Poison
3    Grass-Poison
4            Fire
5            Fire
6     Fire-Flying
7     Fire-Dragon
8     Fire-Flying
9           Water
Name: Combo Type, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [52]:
# your code here
top_5_pokemon =df_pokemon[['Name', 'A/D Ratio']].sort_values(['A/D Ratio'], ascending=False).head(5)
top_5_pokemon.head(5)

                      Name  A/D Ratio
429     DeoxysAttack Forme      9.000
347               Carvanha      4.500
19   BeedrillMega Beedrill      3.750
453               Cranidos      3.125
348               Sharpedo      3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [58]:
# your code here

print(df_pokemon[['Combo Type', 'A/D Ratio']])
top_5_combo = list(df_pokemon['Combo Type'].unique()+ list(df_pokemon['A/D Ratio'].unique()))
top_5_combo

ValueError: operands could not be broadcast together with shapes (154,) (399,)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here